<div id="leftMenu">
	<img src="img/about/foto_escola.jpg"  alt="Foto da Escola" title="Foto da Escola" />
</div>
<div class="content">
<h2>SOBRE</h2>
<p>
	A Dépasser Escola de Tegnologia surgiu da união de um sonho pessoal
	com uma necessidade do mercado. Seu fundador, Vinicius Isola, trabalha 
	na área de Tecnologia da Informação desde 2002, período que cursava
	a faculdade. Mas foi a partir do contado com seu primeiro computador, 
	por volta de 1990, que surgiu o fascínio pela maneira como funcionava.
</p>
<p>
	Apaixonado pelos estudos, sempre se interessou pela vida acadêmica e 
	apesar de não estar diretamente envolvido com essa área atualmente,
	dedica-se ao estudo de artigos e das teorias mais modernas nas diversas 
	áreas de Ciência e Tecnologia.
</p>
<p>
	Vindo de uma família de educadores, sonhava em trabalhar ensinando o que 
	dedica tanto tempo estudando. Desde a época da faculdade, quando cursou
	Bacharelado em Física, tinha ideias e chegou a participar de projetos 
	onde o conhecimento era levado aos alunos de uma forma diferenciada. 
</p>
<p>
	Quando começou a trabalhar na área de desenvolvimento de software, a
	necessidade de pessoas mais dedicadas e comprometidas sempre saltou
	aos seus olhos. A ideia de uma escola que ensinasse de forma diferente,
	com riqueza de detalhes e objetivando acender a paixão que o motiva nos 
	alunos, sempre ficou latente em sua cabeça.  
</p>
<p>
	Com isso em mente, a ideia de ir além, ultrapassando os limites e formando
	pessoas com uma base mais completa e coerente se materializa finalmente na 
	forma da Dépasser, que em francês significa exatamente isso: 
	<strong>ultrapassar</strong>.
</p>
</div>
<div id="rightMenu">
	<div>
		<h2>CONTATE<br /> A DÉPASSER</h2>
		<p>
			Rua Jardim Ivone, 17, sala 52<br />
			CEP 04105-020 - Vila Mariana<br />
			São Paulo/ SP - Brasil<br />
			contato@depasser.com.br<br />
			(11) 2371-5841
		</p>
	</div>
</div>