<ul id="leftMenu">
</ul>
<div class="content">
	<h2>CONTATO</h2>
	<div id="data">
		<label for="name">Nome</label><input name="name" /><br />
		<label for="email">Email</label><input name="email" /><br />
		<label for="message" id="messageLabel">Mensagem</label><br />
		<textarea name="message"></textarea><br />
		<button>Enviar</button>
	</div>
	<p><span>@</span> contato@depasser.com.br</p>
</div>
<div id="rightMenu">
	<div id="map">
		<h2>LOCALIZAÇÃO</h2>
		<a href="http://maps.google.com/maps?f=q&source=s_q&hl=pt-BR&geocode=&q=R.+Jardim+Ivone,+17+-+Vila+Mariana,+S%C3%A3o+Paulo+-+S%C3%A3o+Paulo,+04105-020,+Brasil&sll=37.0625,-95.677068&sspn=47.435825,79.013672&ie=UTF8&hq=&hnear=R.+Jardim+Ivone,+17+-+Vila+Mariana,+S%C3%A3o+Paulo,+04105-020,+Brasil&z=17"></a>
	</div>
	<div>
		<p>
			Rua Jardim Ivone, 17, sala 52<br />
			CEP 04105-020 - Vila Mariana<br />
			São Paulo/ SP - Brasil<br />
			contato@depasser.com.br<br />
			(11) 2371-5841
		</p>
	</div>
</div>