<ul id="leftMenu">
</ul>
<div id="courseContent" class="content">
	<h2>CURSOS</h2>
	<p>
		Os cursos da Dépasser são criados com o intuito de aprofundar o 
		conhecimento nos diversos temas tratados, sem tomar muito tempo 
		com detalhes não essenciais. Isso significa que vamos direto ao 
		assunto, proporcionando uma base mais sólida ao tema que está 
		sendo explorado.
	</p>
	<p>
		Durante o curso, exercícios exigem do aluno a aplicação de tudo 
		o que foi ensinado, fixando o conhecimento e dando ênfase aos
		detalhes importantes. Ao mesmo tempo, possibilita ao aluno o 
		contato com práticas e exemplos que o ajudarão a enfrentar os 
		problemas que encontrará no dia a dia.
	</p>
	<p>
		Além disso, todos os cursos contam com um dia de aula livre, que 
		o aluno pode tirar dúvidas ou levar seus projetos pessoais, 
		aproveitando a experiência do professor para expandir seus próprios
		horizontes. E isso, sem nenhum custo adicional.
	</p>
	<p>
		Confira ao lado os cursos da Dépasser.
	</p>
</div>
<div id="rightMenu">
	<div>
		<h2>CONTATE<br /> A DÉPASSER</h2>
		<p>
			Rua Jardim Ivone, 17, sala 52<br />
			CEP 04105-020 - Vila Mariana<br />
			São Paulo/ SP - Brasil<br />
			contato@depasser.com.br<br />
			(11) 2371-5841
		</p>
	</div>
</div>