<div id="leftMenu">
</div>
<div class="content">
	<h2>ALUNO</h2>
	
	<label>Login:</label><input type="text" />
	<br />
	
	<label>Senha:</label><input type="password" />
	<br />
		
	<button>Entrar</button>
	
	<p>
		Na área do aluno estão disponíveis links para o download das apostilas
		e das apresentações usadas nas aulas. Também podem ser acessados os 
		exemplos que foram passados e os arquivos necessários para os exercícios. 
	</p>
</div>
<div id="rightMenu">
	<a>CÓDIGOS &<br />TUTORIAIS</a>
	<div>
		<h2>CONTATE<br /> A DÉPASSER</h2>
		<p>
			Rua Jardim Ivone, 17, sala 52<br />
			CEP 04105-020 - Vila Mariana<br />
			São Paulo/ SP - Brasil<br />
			contato@depasser.com.br
		</p>
	</div>
</div>